@charset "utf-8";
/* CSS Document */

h1{
	text-align: center;
	}
p {
	color: red;
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
	/*Tamaño de Texto*/
	font-size: 20px; 
	/*Alineacion de texto */
	text-align: end;
	/* Espacio entre Lineas de texto */
	line-height: 2;
	/*Separacion entre letras*/
	letter-spacing: 2px;
	/*Tranformar en Mayuscula (uppercase)y Minuscula (lowercase) y Luego (capitalize) Coloca la primer letra en May*/
	text-transform: none;
	
}
div1{
	color: green;
	}

div2{
	color: blue;
	text-align:center;
}
span{
	text-align: center;
}